.container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  font-size: 20px;
}

.left {
  width: 50%;
}
.tuition-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;

  margin: 20px;
}

.tuition {
  text-align: center;
  font-size: 50px;
}

.registration {
  text-align: center;
  font-size: 25px;
}

.tuition-group {
  margin: 10px;
  text-align: center;
}

.ages {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 20px;
}

.hours {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hours-title {
  text-align: center;
  width: 100%;
}

.hours-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.enrollment-container {
  line-height: 1.5;
  padding: 20px;
}

.registration-title {
  text-align: center;
  margin-bottom: 30px;
}

.registration-intro {
  text-indent: 30px;
  margin-bottom: 20px;
}

.enrollment-check-list {
  text-indent: 30px;
}

.check-list {
  text-align: center;
  margin-bottom: 20px;
}

.paperwork {
  text-indent: 30px;
}

.subsidies {
  text-align: center;
}

.registration-paper-work {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: yellow;
  width: 10rem;
}
