.about-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.about-location {
  padding-top: 40px;
  width: 25%;
}

.logo {
  justify-content: center;
}

.about-location-detail {
  text-align: center;
}

.about-description-outer {
  width: 50%;
}

.about-header {
  padding-top: 30px;
  text-align: center;
}

.about-content {
  padding: 30px 50px;
  color: black;
  line-height: 1.5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: center;
}

.about-details {
  display: flex;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  width: 25%;
}

.about-detail-outer {
  background-color: rgb(163, 108, 5);
  margin: 0px 15px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.about-detail-inner {
  background-color: rgb(37, 31, 31);
  border-radius: 10px;
  padding: 40px 10px;
  text-align: center;
  line-height: 2;
  font-size: 19px;
  height: 100%;
}

ul {
  list-style: none;
}

span {
  color: greenyellow;
}

@media screen and (max-width: 835px) {
  .about-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-description-outer {
    order: 1;
    width: 100%;
  }

  .about-location {
    order: 2;
    width: 50%;
    padding: 40px 5px;
  }

  .about-details {
    order: 3;
    width: 50%;
  }

  .about-detail-inner {
    padding-top: 30px;
    font-size: 16px;
  }
}
