.about-page {
  margin-top: 105px;
}

.about-page {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
}

.intro-container {
  display: flex;
  margin: 0 150px;
  padding: 20px;
  align-items: center;
}

.text {
  margin: 20px;
}

.lock {
  font-size: 10rem;
}

@media screen and (max-width: 1050px) {
  .intro-container {
    margin: 0 150px;
  }

  .about-image {
    height: 125px;
    width: 202.5px;
  }

  .lock {
    font-size: 6rem;
  }
}

@media screen and (max-width: 864px) {
  .intro-container {
    margin: 0 20px;
  }

  .about-page {
    margin-top: 120px;
  }
}

@media screen and (max-width: 564px) {
  .intro-container {
    display: flex;
    flex-direction: column;
  }
}
